* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
	transition: all 0.5s ease;
	overflow-y: hidden;
	overflow-x: hidden;
}

h1 {
	color: #fff;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0 10px 0;
	background: rgba(0, 0, 0, 0.1);
}

.link {
	display: flex;
	gap: 50px;
}

.link button {
	background: none;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.link button:hover {
	text-decoration: underline;
}

.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.calculator {
	position: relative;
	height: auto;
	width: auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px #000;
}


#display {
	margin: 0 10px;
	height: 150px;
	width: auto;
	max-width: 270px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 30px;
	margin-bottom: 20px;
	overflow-x: scroll;
}

#display::-webkit-scrollbar {
	display: block;
	height: 3px;
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.calculator {
	background-color: #071115;
}

.calculator #display {
	color: #f8fafb;
}

.calculator button#clear {
	background-color: #2d191e;
	color: #bd3740;
}

.calculator button.btn-number {
	background-color: #1b2f38;
	color: #f8fafb;
	height: 60px;
	width: 60px;
	border: 0;
	margin: 5px;
	font-size: 20px;
	transition: all 200ms ease;
}

.calculator button.btn-operator {
	background-color: #2e1f39;
	color: #f8fafb;
	border: 0;
	margin: 5px;
	height: 60px;
	width: 60px;
}

.calculator button.btn-equal {
	background-color: #223323;
	color: #ffffff;
	height: 130px;
	width: 60px;
	margin: 5px;
	border: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}